{
    "presets": [
        ["@babel/preset-env", { "useBuiltIns": "usage" }]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime"],
      ["@babel/plugin-transform-modules-commonjs"],
      ["transform-remove-strict-mode"],
      ["@babel/plugin-proposal-class-properties"], 
      ["@babel/plugin-syntax-dynamic-import"]
    ],
    "ignore": [
    ]
  }
  